// Default Black Color
$black: #000;

// Default White Color
$white: #fff;

$old_brick: #9d1c30;
$midnight_blue: #002f65;
$madison: #0c426a;
$shadow: #8e744a;
$tory_blue: #115f98;
$light_gray: #c2c2c2;

$color__background-link: #0c426a;
$color__background-link-hover: #0050ac;
$color__border: #eee;
$color_block_text: #353535;
